* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Ubuntu", monospace;
}

html,
body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
  min-width: 66%;
}

body {
  display: table-cell;
  vertical-align: middle;
  line-height: 1.5;
  background-color: #F1F3F6;
  color: #34495E;
  overflow-y: scroll;
}

header,
main,
footer {
  padding: 2px calc((100% - 800px) / 2) 0;
}

section {
  margin-top: 54px;
  margin-bottom: 54px;
  min-height: calc(100vh - 345px);
  overflow: auto;
}

h1 a {
  font-size: 36px;
  font-weight: bold;
  background-image: url("/static/img/logo.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  height: 36px;
  padding-left: 50px;
  position: relative;
}

h1 a:hover {
  text-decoration: none;
  color: #34495E;
}

h2 {
  font-size: 22px;
  margin-bottom: 36px;
  position: relative;
  top: -9px;
}

a {
  color: #62CB31;
  text-decoration: none;
}

a:hover {
  color: #4EB722;
  text-decoration: underline;
}

header {
  background-image: -webkit-linear-gradient(left, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
  background-image: -moz-linear-gradient(left, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
  background-image: -ms-linear-gradient(left, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
  background-image: linear-gradient(to right, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
  background-size: 100% 6px;
  background-repeat: no-repeat;
  border-bottom: 1px solid #E4E5E7;
  overflow: auto;
  padding-top: 33px;
  padding-bottom: 27px;
  text-align: center;
}

header a {
  color: #34495E;
  text-decoration: none;
}

a.button,
input[type="submit"] {
  background-color: #62CB31;
  border-radius: 3px;
  color: #FFFFFF;
  padding: 18px 27px;
  display: inline-block;
  margin-top: 18px;
  font-weight: 700;
}

a.button:hover,
input[type="submit"]:hover {
  background-color: #4EB722;
  color: #FFFFFF;
  cursor: pointer;
  text-decoration: none;
}

button {
  background: none;
  padding: 0;
  color: #62CB31;
  text-decoration: none;
}

button:hover {
  color: #4EB722;
  text-decoration: underline;
  cursor: pointer;
}

footer {
  border-top: 1px solid #E4E5E7;
  padding-top: 17px;
  padding-bottom: 15px;
  background: #F7F9FA;
  height: 60px;
  color: #6A6C6F;
  text-align: center;
}
